html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

// Margins
.mb-8 {
  margin-bottom: 8rem !important;
}

// Scroll Reveal UX
.load-hidden {
  visibility: hidden;
}
